<!DOCTYPE html>
<html>
  <head>
    <title>Publishify</title>
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="ui grid">
      <div class="row">
        <div class="two wide column"></div>
        <div class="twelve wide column">
          <h2 class="ui header">
            <i class="folder open icon"></i>
            <div class="content">
              Index of <%=path %>
              <div class="sub header">Total <%=files.length %> files.</div>
            </div>
          </h2>
        </div>
        <div class="two wide column"></div>
      </div>
    </div>
    <div class="ui grid">
      <div class="row">
        <div class="two wide column"></div>
        <div class="twelve wide column">
          <table class="ui celled striped table">
            <thead>
              <tr>
                <th class="six wide">Name</th>
                <th class="two wide">Size</th>
                <th class="two wide">Last Modified</th>
                <th class="one wide">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <i class="level up icon"></i>
                    <a href="../">
                      Parent Directory
                    </a>
                </td>
                <td>-</td>
                <td>-</td>
                <td> </td>
              </tr>
              <% files.forEach(function(file) { %>
              <tr>
                <td>
                  <i class="<%=file.type %> icon"></i>
                    <a href="<%= (file.type == 'folder') ? path + file.name + '/' : path + file.name %>">
                      <%=file.name %>
                    </a>
                </td>
                <td><%=file.size %></td>
                <td><%=file.last_modified %></td>
                <td>
                  <% if(file.type != 'folder') { %>
                    <a href="/?download=<%= path + file.name %>"><i class="download icon"></i> Download</a>
                  <% } %>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <div class="two wide column"></div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/semantic.min.js"></script>
</html>
